@model RealTimeApplication.Operations.Handlers.Identity.LoginFormRequest;
<div>
    <form asp-action="Login" asp-controller="Identity">
        <input asp-for="UserName" type="text" placeholder="First Name" />
        <input asp-for="Password" type="text" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
</div>