<div>
    <div id="ChatContainer">

    </div>
    <div id="isTypingNotficationDiv">

    </div>
    <div>
        <input id="GeneralMessageField" type="text">
        <input id="SendGeneralMsgBtn" type="button" value="Send">
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/chatConnectionFile.js"></script>